@tailwind base;
@tailwind components;
@tailwind utilities;

.top-glow {
  box-shadow: 0 -26px 20px rgba(243, 186, 47, 0.3);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
